@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;900&display=swap");

html {
  display: block;
}

body {
  margin: 0;
  color: #303841;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
}
